@import '../../../../EntryFile/sassVariables/_screenSizes.scss';
@import '../../../../EntryFile/sassVariables/_colors';

.mobile {
  background: #ffffff;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 54px;
  margin-top: -50px;
  padding: 2rem 0;
  box-shadow: 0 5px 12px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__col1 {
    width: 10%;
  }

  &__col2 {
    width: 60%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in;

    &__container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .active {
        color: rgb(231, 230, 230);
        background: rgb(71, 71, 241);
      }
    }

    &__link {
      font-size: 1.2em;
      text-decoration: none;
      color: black;
      font-weight: 500;
      padding: 1rem 2rem;
      transition: background 0.3s ease-in;

      &:hover {
        background: $primary_pink;
        color: #ffffff;
      }

      .active {
        background: $primary_pink;
      }
    }
  }

  .navbar--active {
    transform: translateX(0%);
  }
}
@media (min-width: $lg) {
  .mobile {
    display: none;
  }
}
@media (max-width: $lg) {
  .mobile {
    width: 100vw;
    position: absolute;
    background: white;
    &__col1 {
      width: 50%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    &__col2 {
      width: 100%;
      height: 100%;
      background: #ffffff;
      position: fixed;
      top: 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;

      &__container {
        height: 50%;
        width: 60%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
      }

      &__link {
        text-transform: uppercase;

        &:hover {
          color: $primary_pink;
          background: none;
        }
      }
    }

    &__col3 {
      position: absolute;
      display: block;
      right: 1rem;

      & > div {
        background: rgb(48, 47, 47);
        width: 25px;
        height: 3px;
        margin: 3px;
        cursor: pointer;
        transition: all 0.3s ease-in;
      }
    }
  }

  .toggle {
    .line1 {
      transform: rotate(-45deg) translate(-5px, 4px);
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: rotate(45deg) translate(-5px, -4px);
    }
  }
}
.button-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  .profile-info {
    p {
      font-size: 12px;
      font-weight: 300;
      color: $primary_pink;
      display: block;
      text-align: right;
      font-family: 'Montserrat' sans-serif;
      margin: 0;
      padding: 0;
    }
    .profile-name {
      font-weight: 600;
      font-size: 14px;
      padding: 0;
    }
  }
  .profile-image-wrapper {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    .profile-image {
      width: inherit;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      box-shadow: 0 0 5px #cccccc;
      height: inherit;
    }
  }
  .button {
    outline: none;
    color: $primary_pink;
    padding: 5px 22px;
    margin-right: 10px;
    border-radius: 13px;
    border: 1px solid $primary_pink;
    background-color: none;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
    &.sign-up {
      background-color: $primary_pink;
      color: white;
    }
  }
}
