@import 'react-datepicker/dist/react-datepicker';
// main {
//   // width: 450px !important;
//   // height: 100%;
//   // position: absolute !important;
//   // top:0;
//   // right:0;
//   // z-index: 1000000;
//   // background: white;
//   .main__container {
//     padding-top: 50px;
//     .modal-body {
//       margin-top: 50px;
//       width: 75%;
//       margin: 0 auto;
//       padding: 20px 30px;
//       background-color: white;
//       box-shadow: 0 0 0 8 #cccccc;
//       border-radius: 10px;
//     }
//     .modal-footer {
//       bottom: 0 !important;
//     }
//   }
// }

// .close {
//   font-size: 2.2rem !important;
// }
.modal-form-73u543 {
  width: 450px !important;
  height: 100vh;
  position: absolute !important;
  top: 0;
  right: 0;
  background: rgba($color: #fff, $alpha: 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 0 8 #ccc;
  .container {
    .modal-body {
    }
  }
}
textarea {
  width: 100%;
  padding-top: 10px;
  padding-left: 12px;
  height: inherit;
  outline: none;
  border: 2px solid #888888;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
}

.close {
  font-size: 2.2rem !important;
}
.react-datepicker__input-container input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0;
  border: 2px solid #888;
}
